<div class="container">
    <div class="row mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Image</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tr *ngFor="let item of UsersList | paginate: { itemsPerPage: 6, currentPage: page, totalItems:totalLength }">
                <th scope="row">{{item.id}}</th>
                <td><img src="{{item.avatar}}" alt="" width="30%" height="30%"></td>
                <td>{{item.first_name}}</td>
                <td>{{item.last_name}}</td>
                <td>{{item.email}}</td>
            </tr>
        </table>
    </div>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>

</div>